*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
src/.dirstamp
src/.deps/
src/Makefile
src/Makefile.in
src/main.o
src/xorg-launch-helper
stamp-h1
xorg.service
xorg.target
xorg-launch-helper-*.tar.*
xorg-launch-helper
